@import '../../../variables.scss';
@import '../../../colors.scss';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    img {
      width: 150px;
      margin: 0 auto $margin-large-xl auto;
    }

    p {
      color: $primary-color;
      margin-bottom: $margin-large;
      font-size: $fs-default;
      font-weight: $fw-bold;
    }

    .name-surname {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      mat-form-field {
        width: 45%;
      }
    }

    i {
      position: absolute;
      right: $margin-small;
      color: $secondary-color;
      cursor: pointer;
    }

    mat-checkbox {
      display: flex;
      margin-bottom: $margin-default;
      color: $secondary-color;
    }

    button {
      margin: $margin-regular auto $margin-small auto;
      width: 150px;
    }
  }

  .server-errors {
    color: red;
    margin-bottom: $margin-small;
    font-size: $fs-small;
  }

  a {
    color: $primary-color;
    font-size: $fs-small;
    cursor: pointer;
    &.terms-info {
      margin: $margin-default 0;
    }
  }
}

//Media queries for desktop
@media (min-width: 768px) and (max-width: 1280px){
  :host {
    form {
      img {
        margin: 0 auto $margin-large auto;
      }

      mat-checkbox {
        margin-top: $margin-default;
      }
    }
  }
}

//Media queries for tablet
@media screen and  (min-width: 600px) and (max-width: 768px){
  :host {
    form {
      width: 80%;
      mat-checkbox {
        margin-top: $margin-default;
      }
    }
  }
}

//Media queries for smartphone
@media screen and (max-width: 600px){
  :host {
    form {
      width: 70%;
      .name-surname {
        flex-direction: column;
        justify-content: normal;
        mat-form-field {
          width: 100%;
        }
      }

      mat-checkbox {
        margin-top: $margin-default;
      }
    }
  }
}
