$primary-color: #ff4081;
$secondary-color: #686767;
$background-color: #1d1f1f;
$div-background-color: #d8d8d8;
$sidebar-hover-color: rgba(255, 255, 255, 0.6);
$comments-textarea-background-color: rgba(255, 255, 255, 0.5);
$no-comments: #b4b3b3;
$like-color: #0089ff;
$comment-background-color: rgba(255, 255, 255, 0.3);
