// font-weight --------------------------------------------
$fs-xl-large: 50px;
$fs-large: 32px;
$fs-medium: 24px;
$fs-regular: 18px;
$fs-default-2: 16px;
$fs-default: 14px;
$fs-small: 12px;
$fs-half-small: 6px;

// font-weight --------------------------------------------
$fw-bold: 500;
$fw-default: 400;

// margin -------------------------------------------------
$margin-large-xl: 89px;
$margin-large: 40px;
$margin-medium: 33px;
$margin-regular: 24px;
$margin-default: 16px;
$margin-default_2: 12px;
$margin-small: 8px;
$margin-half-small: 4px;

// border-radius --------------------------------------------
$br-regular: 35px;
$br-default: 20px;
$br-small: 10px;

// images ---------------------------------------------------
$img-big: 200px;
$img-medium: 150px;
$img-regular: 130px;
$img-small: 100px;

// dimensions -----------------------------------------------
$logo-big: 150px;
$logo-medium: 120px;
$logo-small: 100px;
$navbar-element-height-hover: 10px;
$navbar-element-height-big: 50px;
$navbar-element-height-small: 30px;
$navbar-separator-height: 100px;
$textarea-comments-height: 100px;
$mat-expansion-header-height: 50px;
$bookshelf-list-book-height: 80px;

//desktop
$desktop-navbar-separator-height: 60px;
$desktop-textarea-comments-height: 70px;

// mobile
$mobile-navbar-height: 60px;
$mobile-navbar-separator-height: 80px;

// tablet
$tablet-navbar-height: 90px;
