// font-weight --------------------------------------------
$fs-xl-large: 50px;
$fs-large: 32px;
$fs-medium: 24px;
$fs-regular: 18px;
$fs-default-2: 16px;
$fs-default: 14px;
$fs-small: 12px;
$fs-half-small: 6px;

// font-weight --------------------------------------------
$fw-bold: 500;
$fw-default: 400;

// margin -------------------------------------------------
$margin-large-xl: 89px;
$margin-large: 40px;
$margin-medium: 33px;
$margin-regular: 24px;
$margin-default: 16px;
$margin-small: 8px;
$margin-half-small: 4px;
