@import "src/variables";
@import "src/colors";

.container {
  height: 230px;
  width: 120px;
  border-radius: 13px;
  border: 3px solid $div-background-color;
  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  .image {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 70px;
    }
  }

  .details {
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .info {
      text-align: center;

      .title {
        font-weight: $fw-bold;
        width: 110px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .author {
        width: 110px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.container:hover {
  background-color: #d8d8d8;
  width: 130px;
  height: 240px;
}

//Media queries for desktop
@media (min-width: 768px) and (max-width: 1280px) {
  .container {
    height: 160px;
    width: 100px;
    transition-property: none;

    .image {
      height: 50%;

      img {
        width: 50px;
      }
    }

    .details {
      height: 50%;

      .info {
        .title {
          width: 90px;
          margin: auto;
        }

        .author {
          font-size: 12px;
          width: 90px;
          font-style: italic;
        }
      }
    }

    button {
      width: 60px;
      height: 30px;
      padding: 0;
      display: flex;
      align-items: center;
      place-content: center;
    }
  }
  .container:hover {
    background-color: #d8d8d8;
    width: 100px;
    height: 160px;
  }
}
