<nav [ngClass]="toogle ? 'expanded' : 'disabled'">
  <div class="logo">
    <img src="../../assets/img/booxed.png" />
    <i class="fas fa-bars" (click)="clickEvent()"></i>
  </div>
  <ul class="list">
    <li [routerLink]="['/booxed']"><i class="fas fa-home"></i>DASHBOARD</li>
    <li [routerLink]="['/booxed/bookshelves']">
      <i class="fas fa-book-open"></i>BOOKSHELVES
    </li>
    <li [routerLink]="['/booxed/search']">
      <i class="fas fa-search"></i>SEARCH
    </li>
    <li [routerLink]="['/booxed/points']">
      <i class="fas fa-trophy"></i>POINTS
    </li>
    <li [routerLink]="['/booxed/liked']">
      <i class="fas fa-thumbs-up"></i> LIKED
    </li>
    <li [routerLink]="['/booxed/read']"><i class="fas fa-check"></i> READ</li>
    <li *ngIf="isAdmin()" [routerLink]="['/booxed/users']">
      <i class="fas fa-users-cog"></i>USERS
    </li>
    <li *ngIf="isAdmin()" [routerLink]="['/booxed/comments']">
      <i class="fas fa-comments"></i>COMMENTS
    </li>
    <li *ngIf="isAdmin()" [routerLink]="['/booxed/libraries']">
      <i class="fas fa-store"></i> LIBRARIES
    </li>
    <li *ngIf="isAdmin()" [routerLink]="['/booxed/rewards']">
      <i class="fas fa-award"></i> REWARDS
    </li>

    <div *ngIf="!isAdmin()" class="separator"></div>
    <li class="logout" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> LOG OUT
    </li>
  </ul>
</nav>
<mat-card>
  <router-outlet></router-outlet>
</mat-card>
