@import "../../variables.scss";
@import "../../colors.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: row;
  background: $background-color;

  mat-card {
    width: 75%;
    height: 85%;
    margin: auto 0;
    border-radius: $br-regular;
    padding: 0;
  }

  nav {
    width: 20%;
    display: flex;
    flex-direction: column;
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: linear;

    .logo {
      align-self: center;

      i {
        display: none;
      }

      img {
        margin: $margin-large auto $margin-default auto;
        width: $logo-big;
      }
    }

    ul {
      list-style-type: none;
      height: 100%;

      li {
        font-size: $fs-regular;
        font-weight: $fw-bold;
        color: white;
        margin: $margin-default;
        height: $navbar-element-height-big;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition-property: width, height;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        border-radius: $br-default;

        i {
          color: white;
          margin: 0 $margin-default;
        }

        .logout {
          align-self: flex-end;
        }
      }

      li:hover {
        cursor: pointer;
        background-color: $sidebar-hover-color;
        width: 100%;
        color: $primary-color;
        height: $navbar-element-height-big + $navbar-element-height-hover;

        i {
          color: $primary-color;
        }
      }

      .separator {
        height: $navbar-separator-height;
      }
    }
  }
}

//Media queries for desktop
@media (min-width: 769px) and (max-width: 1280px) {
  :host {
    nav {
      .logo {
        i {
          display: none;
        }

        img {
          display: flex;
          margin: $margin-default auto;
          width: $logo-medium;
        }
      }

      ul {
        padding-left: 0;
        margin-top: 0;

        li {
          font-size: $fs-default;
          margin: $margin-default_2 auto;
          height: $navbar-element-height-small;
          border-radius: $br-small;
        }

        li:hover {
          height: $navbar-element-height-small + $navbar-element-height-hover;
          width: 110%;
        }

        .separator {
          height: $desktop-navbar-separator-height;
        }
      }
    }
  }
}

//Media queries for tablet
@media screen and (min-width: 601px) and(max-width: 768px) {
  :host {
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    background: white;

    mat-card {
      width: 100%;
      height: 80%;
      margin-top: $tablet-navbar-height;
      box-shadow: none;
      border-radius: 0;
    }

    .expanded {
      height: 100%;
      overflow-y: scroll;
    }

    .disabled {
      text-align: center;
      height: $tablet-navbar-height;
    }

    nav {
      background: $background-color;
      width: 100%;
      height: 15%;
      overflow: hidden;
      z-index: 99;
      position: absolute;

      .logo {
        display: flex;
        flex-direction: row;
        margin: $margin-regular auto;
        align-items: center;

        i {
          color: $primary-color;
          display: flex;
          margin-left: $margin-default;
        }

        img {
          margin: 0;
        }
      }
    }
  }
}

//Media queries for smartphone
@media screen and (max-width: 600px) {
  :host {
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    background: white;

    mat-card {
      width: 100%;
      height: 87%;
      margin-top: $mobile-navbar-height;
      box-shadow: none;
      border-radius: 0;
    }

    .expanded {
      height: 100%;
      overflow-y: scroll;
    }

    .disabled {
      text-align: center;
      height: $mobile-navbar-height;
    }

    nav {
      background: $background-color;
      width: 100%;
      height: 10%;
      overflow: hidden;
      z-index: 99;
      position: absolute;

      .logo {
        display: flex;
        flex-direction: row;
        margin: $margin-default auto;
        align-items: center;

        i {
          color: $primary-color;
          display: flex;
          margin-left: $margin-default;
        }

        img {
          margin: 0;
          width: $logo-small;
        }
      }

      ul {
        padding-left: 0;

        li {
          font-size: $fs-default-2;
          margin: $margin-default auto;
          height: $navbar-element-height-small;
          border-radius: 0;
        }

        li:hover {
          height: $navbar-element-height-small + $navbar-element-height-hover;
        }

        .separator {
          height: $mobile-navbar-separator-height;
        }
      }
    }
  }
}
