@import "src/variables";
@import "src/colors";

:host {
  padding: $margin-large 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .add-comment {
    height: 45%;

    .title {
      font-size: $margin-regular;
      font-weight: $fw-bold;
      margin-left: $margin-regular;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: $margin-default auto;

      mat-form-field {
        background-color: $comments-textarea-background-color;
        padding: $margin-default;
        margin-bottom: $margin-medium;
        margin-top: $margin-medium;

        textarea {
          height: $textarea-comments-height;
          color: black;
        }
      }

      button {
        width: 50%;
        align-self: center;
      }
    }
  }

  .comments-section-title {
    font-size: $fs-default-2;
    font-weight: $fw-bold;
    color: $comments-textarea-background-color;
    margin-bottom: $margin-default;
    margin-top: $margin-regular;
    margin-left: $margin-regular;
  }

  .comments-list {
    height: 50%;
    overflow-y: auto;

    .comment {
      background-color: $comment-background-color;
      padding: $margin-default;
      display: flex;
      flex-direction: column;
      margin-bottom: $margin-regular;

      .comment-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: $margin-small;

        .date {
          font-style: italic;
          font-weight: $fw-bold;
          font-size: $fs-small;
        }

        .actions {
          i {
            margin-left: $margin-small;
            transition-property: font-size;
            transition-duration: 0.2s;
            transition-timing-function: linear;
          }

          .report {
            color: $primary-color;
          }

          .like {
            color: $like-color;
          }

          .delete {
            color: $primary-color;
          }
        }

        i:hover {
          font-size: $fs-default-2;
          cursor: pointer;
        }
      }
    }
  }

  .no-comments {
    margin: auto;
    width: 80%;
    font-size: $fs-default-2;
    color: $no-comments;
    font-weight: $fw-bold;
    text-align: center;
  }
}

//mediaqueries for desktop
@media (min-width: 769px) and (max-width: 1280px) {
  :host {
    padding: $margin-regular 0;

    .add-comment {
      height: 50%;

      .title {
        font-size: $fs-default-2;
      }

      form {
        margin: $margin-small auto;

        mat-form-field {
          padding: $margin-default;
          margin-bottom: $margin-small;
          margin-top: $margin-small;

          textarea {
            height: $desktop-textarea-comments-height;
          }
        }

        button {
          font-size: $fs-small;
        }
      }
    }

    .comments-section-title {
      font-size: $fs-default-2;
      font-weight: $fw-bold;
      color: $comments-textarea-background-color;
      margin-bottom: $margin-default;
      margin-top: $margin-regular;
      margin-left: $margin-regular;
      height: 5%;
    }
  }
}

//Media queries for tablet
@media screen and (min-width: 601px) and(max-width: 768px) {
  :host {
    padding: $margin-regular 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
