@import "src/colors";
@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  padding: $margin-large $margin-regular $margin-regular $margin-regular;
  height: 100%;

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30%;
    margin: 0 24px $margin-regular 24px;

    .get {
      width: 100%;
      color: $secondary-color;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-weight: $fw-bold;
        font-size: $margin-regular;
      }
    }

    .points {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .outside-circle {
        border: 4px solid $primary-color;
        display: flex;
        border-radius: 105px;
        width: 200px;
        height: 200px;
        justify-content: center;
        align-items: center;

        .inside-circle {
          border: 4px dashed $primary-color;
          display: flex;
          border-radius: 90px;
          width: 170px;
          height: 170px;
          justify-content: center;
          align-items: center;

          .user-points {
            display: flex;
            flex-direction: column;
            margin-top: $margin-regular;

            .pts {
              font-size: $fs-xl-large;
              color: $primary-color;
              font-weight: $fw-bold;
              text-align: center;
            }

            .label {
              font-size: $margin-regular;
              font-weight: $fw-bold;
              margin-top: $margin-small;
              text-align: center;
              color: $secondary-color;
            }
          }
        }
      }
    }

    .collect {
      width: 100%;
      color: $secondary-color;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-weight: $fw-bold;
        font-size: $margin-regular;
      }

      button {
        width: 40%;
        margin-top: $margin-small
      }
    }
  }

  .list-of-rewards {
    height: 65%;
    overflow-y: auto;

    mat-card {
      width: 80%;
      margin: auto auto $margin-small auto;
      display: flex;
      flex-direction: row;
      app-readonly-field{
        width: 25%;
      }
      .button{
        width: 25%;
        text-align: right;
      }
    }
  }
}
