<h1> Welcome back {{user?.name}} ! </h1>
<h2> Overview </h2>

<div class="overview">
  <div class="element">
    <div class="label"> Liked Books</div>
    <div class="circle">
      {{user?.liked?.length}}
    </div>
  </div>
  <div class="element">
    <div class="label"> Points</div>
    <div class="circle">
      {{user?.points}}
    </div>
  </div>
  <div class="element">
    <div class="label"> Books you've read</div>
    <div class="circle">
      {{user?.read?.length}}
    </div>
  </div>
</div>

  <div class="middle-div">
    <div class="info">
      <h2>Build your own online library</h2>
      <img src="../../assets/img/books.png">
    </div>
    <div class="buttons">
      <button mat-raised-button (click)="openDialog()">Create new bookshelf</button>
      <button mat-raised-button  [routerLink]="['/booxed/bookshelves']" class="bookshelves">Your bookshelves</button>
      <button mat-raised-button  [routerLink]="['/booxed/search']" class="find">Find a book</button>
    </div>
  </div>
  <div class="random-books">
    <h2> Random Books </h2>
    <div class="carousel">
      <app-book-preview></app-book-preview>
      <app-book-preview></app-book-preview>
      <app-book-preview></app-book-preview>
      <app-book-preview></app-book-preview>
      <app-book-preview></app-book-preview>
      <app-book-preview></app-book-preview>
    </div>
  </div>
