<form [formGroup]="forgotPassword" (ngSubmit)="sendLink()">
  <h2>Provide an email address to which we wil send a reset password link</h2>
  <mat-form-field color="accent">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required />
    <mat-error *ngIf="forgotPassword.get('email').hasError('required')"
      >Email is required
    </mat-error>
    <mat-error *ngIf="forgotPassword.get('email').hasError('email')"
      >Email is invalid
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="!forgotPassword.valid"
  >
    Send link!
  </button>
</form>
