@import "src/variables";
@import "src/colors";

:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;

  .comments {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    margin-top: -$margin-regular;
    margin-bottom: -$margin-regular;
    background-color: $secondary-color;
    border-radius: 0 $br-regular $br-regular 0;
  }

  .book {
    width: 70%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .book-details {
      height: 70%;

      .title {
        height: 10%;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: $margin-regular auto 0 auto;
        align-items: center;

        h1 {
          margin-bottom: 0;
          font-weight: $fw-bold;
          color: $primary-color;
        }

        i {
          font-size: $fs-medium;
          color: $primary-color;
          transition-property: font-size;
          transition-duration: 0.2s;
          transition-timing-function: linear;
        }

        i:hover {
          font-size: $fs-large;
          cursor: pointer;
        }
      }

      .book-main-info {
        display: flex;
        width: 80%;
        margin: auto;
        height: 90%;

        .image {
          width: 40%;
          align-self: center;

          img {
            width: $img-big;
          }
        }

        .info {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        label {
          font-size: $fs-default-2;
          font-weight: $fw-bold;
          color: $secondary-color;
        }

        mat-progress-bar {
          margin-top: $margin-default;
          margin-bottom: $margin-default;
        }

        .book-title {
          font-size: $fs-medium;
          height: auto;
          display: contents;
          font-weight: $fw-bold;
          margin-bottom: $margin-regular;
        }

        .authors {
          display: flex;
          flex-direction: column;
          margin-top: $margin-regular;
          margin-bottom: $margin-small;

          .book-author {
            font-size: $fs-default-2;
            margin-bottom: $margin-small;
          }
        }

        .book-description {
          height: $secondary-color;
          overflow-y: auto;
          color: $secondary-color;
        }

        .buttons {
          display: flex;
          justify-content: space-evenly;
          margin-top: $fs-medium;
        }
      }
    }
  }

  .more {
    height: 30%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .more-details {
      display: flex;
      flex-direction: row;
      margin: auto 0;

      .publisher-category {
        margin-left: $margin-regular;
      }

      app-readonly-field {
        margin-bottom: $margin-small;
        font-size: $fs-default-2;
        font-style: italic;

        ::ng-deep {
          label {
            font-size: $fs-default;
            font-style: normal;
            font-weight: $fw-bold;
            color: $primary-color;
          }
        }
      }
    }

    .others {
      margin: auto 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      button {
        width: fit-content;
      }

      .movies {
        margin-top: $margin-regular;

        h3 {
          margin-bottom: $margin-small;
          color: $secondary-color;
          font-weight: $fw-bold;
        }
      }
    }
  }
}

//Media queries for desktop
@media (min-width: 769px) and (max-width: 1280px) {
  :host {
    .book {
      .book-details {
        height: 65%;

        .title {
          height: 5%;
          margin: $margin-regular auto $margin-small auto;

          h1 {
            font-size: $fs-regular;
          }

          i {
            font-size: $fs-regular !important;
          }
        }

        .book-main-info {
          width: 90%;
          height: 80%;

          .image {
            width: 35%;

            img {
              width: $img-regular;
            }
          }

          .info {
            width: 65%;
          }

          mat-progress-bar {
            margin-top: $margin-small;
            margin-bottom: $margin-default;
          }

          .book-title {
            font-size: $margin-regular;
            margin-bottom: $margin-default;
          }

          .authors {
            margin-top: $margin-small;
            margin-bottom: 0;

            .book-author {
              font-size: $margin-default;
              margin-bottom: $margin-small;
            }
          }

          .book-description {
            font-size: $fs-small;
          }

          .buttons {
            margin-top: $margin-default;

            button {
              font-size: $fs-small;
            }
          }
        }
      }
    }

    .more {
      height: 30%;
      margin: 0 0 0 3%;
      width: 95%;
      box-sizing: border-box;

      .more-details {
        width: 60%;

        .publisher-category {
          margin-left: $margin-default;
        }

        app-readonly-field {
          margin-bottom: $margin-half-small;

          ::ng-deep {
            label {
              font-size: $fs-small !important;
            }

            .content {
              font-size: $fs-small !important;
            }
          }
        }
      }

      .others {
        width: 40%;
        align-items: center;

        button {
          font-size: $fs-small;
        }

        .movies-wrapper {
          margin-top: 0px;
          margin-bottom: $margin-small;

          h3 {
            font-size: $fs-small;
            margin-bottom: 0;
          }

          .movies {
            height: 85px;
            overflow-y: auto;
            margin-top: $margin-half-small;
          }
        }
      }
    }
  }
}

//Media queries for tablet
@media screen and (min-width: 601px) and(max-width: 768px) {
  :host {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;

    .comments {
      width: 100%;
      height: 40%;
      margin-top: $margin-regular;
      margin-bottom: 0;
      border-radius: 0;
    }

    .book {
      width: 100%;
      height: 60%;
      overflow-y: hidden;

      .book-details {
        .book-main-info {
          display: flex;
          width: 80%;
          margin: auto;
          height: 90%;

          .image {
            text-align: center;

            img {
              width: $img-medium;
            }
          }

          .info {
            height: inherit;
          }

          .book-title {
            font-size: $fs-medium;
            margin-bottom: $margin-small;
          }

          .book-description {
            height: $img-big;
          }

          .authors {
            margin-top: $margin-small;
          }
        }
      }
    }
  }
}

//Media queries for smartphone
@media screen and (max-width: 600px) {
  :host {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;

    .comments {
      width: 100%;
      height: 40%;
      margin-top: $margin-regular;
      margin-bottom: 0;
      border-radius: 0;
    }

    .book {
      width: 100%;
      height: auto;
      overflow-y: hidden;

      .book-details {
        height: auto;

        .book-main-info {
          flex-direction: column;
          width: 100%;
          margin: 0;
          height: auto;

          .image {
            width: 100%;
            text-align: center;
            margin-top: $margin-default;
            margin-bottom: $margin-default;

            img {
              width: $img-medium;
            }
          }

          .info {
            width: 90%;
            margin: 0 auto;
          }

          .book-title {
            font-size: $margin-regular;
            margin-bottom: $margin-small;
          }

          .book-description {
            height: $img-big;
          }

          .buttons {
            display: flex;
            justify-content: space-evenly;
            margin: $margin-regular 0;
          }
        }
      }
    }

    .more {
      height: auto;
      flex-direction: column;
      justify-content: normal;

      .more-details {
        display: flex;
        flex-direction: row;
        margin: auto 0;

        .publisher-category {
          margin-left: $margin-regular;
        }
      }

      .others {
        margin: $margin-default 0;
        align-items: center;

        button {
          width: fit-content;
        }

        .movies {
          margin-top: $margin-default;
        }
      }
    }
  }
}
