<div class="book">
  <div class="book-details">
    <div class="title">
      <h1>BOOK DETAILS</h1>
      <i class="far fa-heart" (click)="addToLiked(book.id)"></i>
    </div>
    <div class="book-main-info">
      <div class="image">
        <img src="{{book?.volumeInfo?.imageLinks?.smallThumbnail}}">
      </div>
      <div class="info">
        <label>Online ratings</label>
        <mat-progress-bar mode="determinate" value="{{getRatingValue(book?.volumeInfo?.averageRating)}}" color="accent"></mat-progress-bar>
        <div class="book-title"> {{book?.volumeInfo?.title}}</div>
        <div class="authors">
          <div *ngFor="let author of book?.volumeInfo?.authors">
            <div class="book-author"> {{author}}</div>
          </div>
        </div>
        <div class="book-description"> {{book?.volumeInfo?.description}}</div>
        <div class="buttons">
          <button mat-raised-button color="accent"> Add to boohshelf</button>
          <button mat-raised-button> Mark as read</button>
        </div>
      </div>
    </div>
  </div>
  <div class="more">
    <div class="more-details">
      <div class="pages-language">
        <app-readonly-field label="Pages" content="{{book?.volumeInfo?.pageCount}}"></app-readonly-field>
        <app-readonly-field label="Language" content="{{book?.volumeInfo?.language}}"></app-readonly-field>
        <app-readonly-field label="Maturity Rating" content="{{book?.volumeInfo?.maturityRating}}"></app-readonly-field>
      </div>
      <div class="publisher-category">
          <app-readonly-field label="Publisher" content="{{book?.volumeInfo?.publisher}}"></app-readonly-field>
          <app-readonly-field label="Published date" content="{{book?.volumeInfo?.publishedDate}}"></app-readonly-field>
          <app-readonly-field label="Category" content="{{book?.volumeInfo?.categories[0]}}"></app-readonly-field>
      </div>
    </div>
    <div class="others">
      <div class="link">
        <h2 >Check it on Google books</h2><i class="fas fa-arrow-right"></i>
      </div>
      <div class="movies">
        <h3>Movies based on this book</h3>
        <div class="movie">
          <div class="movie">
            Title of the movie (2012)
          </div>
          <div class="movie">
            Title of the movie (2012)
          </div>
          <div class="movie">
            Title of the movie (2012)
          </div>
          <div class="movie">
            Title of the movie (2012)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="comments">
<app-comments-section id_book="{{id}}" id_user="{{userId}}"></app-comments-section>
</div>
