:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;

  .comments {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    margin-top: -24px;
    margin-bottom: -24px;
    background-color: #686767;
    border-radius: 0 35px 35px 0;
  }

  .book {
    width: 70%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .book-details {
      height: 70%;

      .title {
        height: 10%;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 24px auto 0 auto;
        align-items: center;

        h1 {
          margin-bottom: 0;
          font-weight: 500;
          color: #FF4081;
        }

        i {
          font-size: 24px;
          color: #FF4081;
          transition-property: font-size;
          transition-duration: 0.2s;
          transition-timing-function: linear;
        }

        i:hover {
          font-size: 40px;
          cursor: pointer;
        }
      }

      .book-main-info {
        display: flex;
        width: 80%;
        margin: auto;
        height: 90%;

        .image {
          width: 40%;
          align-self: center;

          img {
            width: 200px;
          }
        }

        .info {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        label {
          font-size: 16px;
          font-weight: 500;
          color: #686767;
        }

        mat-progress-bar {
          margin-top: 16px;
          margin-bottom: 16px;
        }

        .book-title {
          font-size: 28px;
          height: auto;
          display: contents;
          font-weight: 500;
          margin-bottom: 24px;
        }

        .authors {
          display: flex;
          flex-direction: column;
          margin-top: 24px;
          margin-bottom: 8px;

          .book-author {
            font-size: 16px;
            margin-bottom: 8px;
          }
        }

        .book-description {
          height: 35%;
          overflow-y: auto;
          color: #686767;
        }

        .buttons {
          display: flex;
          justify-content: space-evenly;
          margin-top: 24px;
        }
      }
    }
  }

  .more {
    height: 30%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .more-details {
      display: flex;
      flex-direction: row;
      margin: auto 0;

      .publisher-category {
        margin-left: 24px;
      }

      app-readonly-field {
        margin-bottom: 8px;
        font-size: 16px;
        font-style: italic;

        ::ng-deep {
          label {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            color: #FF4081;
          }
        }
      }

    }

    .others {
      margin: auto 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      button {
        width: fit-content;
      }

      .movies {
        margin-top: 24px;

        h3 {
          margin-bottom: 8px;
          color: #686767;
          font-weight: 500;
        }
      }
    }
  }
}

//Media queries for desktop
@media (min-width: 769px) and (max-width: 1280px) {
  :host {
    .book {
      .book-details {
        height: 65%;
        .title {
          height: 5%;
          margin: 24px auto 8px auto;

          h1 {
            font-size: 18px;
          }

          i {
            font-size: 18px !important;
          }
        }

        .book-main-info {
          width: 90%;
          height: 80%;

          .image {
            width: 35%;

            img {
              width: 130px;
            }
          }

          .info {
            width: 65%;
          }

          mat-progress-bar {
            margin-top: 8px;
            margin-bottom: 16px;
          }

          .book-title {
            font-size: 24px;
            margin-bottom: 16px;
          }

          .authors {
            margin-top: 8px;
            margin-bottom: 0;

            .book-author {
              font-size: 16px;
              margin-bottom: 8px;
            }
          }

          .book-description {
            font-size: 12px;
          }

          .buttons {
            margin-top: 16px;
            button {
              font-size: 12px;
            }
          }
        }
      }
    }


    .more {
      height: 30%;
      margin: 0 0 0 3%;
      width: 95%;
      box-sizing: border-box;
      .more-details {
        width: 60%;
        .publisher-category {
          margin-left: 16px;
        }

        app-readonly-field {
          margin-bottom: 4px;
          ::ng-deep {
            label {
              font-size: 12px !important;
            }
            .content{
              font-size: 12px !important;
            }
          }
        }

      }

      .others {
        width: 40%;
        align-items: center;
        button {
          font-size: 12px;
        }

        .movies-wrapper {
          margin-top: 0px;
          margin-bottom: 8px;
          h3 {
            font-size: 12px;
            margin-bottom: 0;
          }

          .movies{
            height: 85px;
            overflow-y: auto;
            margin-top: 4px;
          }
        }
      }
    }
  }
}
  //Media queries for tablet
@media screen and (min-width: 601px) and(max-width: 768px) {

}

  //Media queries for smartphone
  @media screen and (max-width: 600px) {

  }

