@import '../../../variables.scss';
@import '../../../colors.scss';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;

  img {
    width: 150px;
    margin-top: $margin-medium;
    margin-left: $margin-medium;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;

    p {
      color: $primary-color;
      margin-bottom: $margin-large-xl;
      font-size: $fs-default;
      font-weight: $fw-bold;
    }

    mat-form-field {
      margin-bottom: $margin-default;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      margin-top: $margin-regular;

      button, a {
        margin: $margin-regular auto $margin-small auto;
        width: 150px;
      }
    }
  }

  .server-errors {
    color: red;
    margin-bottom: $margin-small;
    font-size: $fs-small;
  }

  a {
    color: $primary-color;
    font-size: $fs-small;
    cursor: pointer;

    &.terms-info {
      margin-bottom: $margin-default;
    }
  }
}
