@import '../../../variables.scss';
@import '../../../colors.scss';

$button-width-normal: 150px;
$button-width-small: 100px;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  overflow: hidden;

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    img {
      width: 150px;
      margin: 0 auto $margin-large-xl auto;
    }

    p {
      color: $primary-color;
      margin-bottom: $margin-large-xl;
      font-size: $fs-default;
      font-weight: $fw-bold;
    }

    mat-form-field {
      margin-bottom: $margin-default;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      margin-top: $margin-regular;
      button, a {
        margin: $margin-regular auto $margin-small auto;
        width: $button-width-normal;
      }
    }
  }

  .server-errors {
    color: red;
    margin-bottom: $margin-small;
    font-size: $fs-small;
  }

  a {
    color: $primary-color;
    font-size: $fs-small;
    cursor: pointer;

    &.terms-info {
      margin-bottom: $margin-default;
    }
  }
}


//Media queries for desktop
@media (min-width: 768px) and (max-width: 1280px) {
  :host {
    form {
      width: 60%;
    }
  }
}

//Media queries for tablet
@media screen and (min-width: 600px) and(max-width: 768px) {
  :host {
    form {
      width: 80%;
    }
  }
}

//Media queries for smartphone
@media screen and (max-width: 600px) {
  :host {
    form {
      width: 80%;
      .buttons {
        button, a {
          width: $button-width-small;
        }
      }
    }
  }
}
