@import "src/colors";
@import "src/variables";

h2 {
  color: $primary-color;
}

mat-dialog-content {
  padding: $margin-small $margin-regular;
  height: 90%;
  overflow-y: auto;

  mat-expansion-panel {
    margin-bottom: $margin-regular !important;

    mat-expansion-panel-header {
      display: flex;
      flex-direction: row;
      padding: $margin-small $margin-regular;
    }

    .mat-expansion-panel-body {
      padding: $margin-default $margin-regular;
    }

    .content {
      display: flex;
      flex-direction: row;
      width: 100%;

      app-readonly-field {
        width: 33.3%;
      }
    }

    .additional-content {
      display: flex;
      flex-direction: row;
      width: 100%;

      app-readonly-field {
        width: 25%;
      }
    }
  }
}
