<form [formGroup]="resetPassword" (ngSubmit)="changePassword()">
  <h2>Provide new password!</h2>
  <mat-form-field color="accent">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required />
    <mat-error *ngIf="resetPassword.get('password').hasError('required')"
      >Password is required
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="!resetPassword.valid"
  >
    Change password!
  </button>
</form>
