@import "src/variables";
@import "src/colors";

:host {
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    place-content: center;
    margin: auto;

    h2 {
      margin-bottom: $margin-large-xl;
      color: $primary-color;
      text-align: center;
      font-weight: $fw-default;
    }

    button {
      width: fit-content;
      align-self: center;
    }
  }
}
