@import "src/colors";
@import "src/variables";

.search-field {
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $margin-regular;

    mat-form-field {
      width: 50%;
      margin-right: $margin-regular;
      i{
        position: absolute;
        right: $margin-default;
        color: $primary-color;
        transition-property: font-size;
        transition-duration: 0.2s;
        transition-timing-function: linear;
      }
      i:hover{
        cursor: pointer;
        font-size: $fs-default-2;
      }
    }

    button {
      height: fit-content;
    }
  }
}

.search-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  margin-top: $fs-large;

  app-book-preview {
    margin-right: $margin-default;
    margin-bottom: $margin-default;
  }
}

//Media queries for smartphone
@media screen and (max-width: 600px) {
  .search-field {
    form {
      flex-direction: column;

      mat-form-field {
        width: 90%;
        margin-right: 0;
      }
      button {
        height: fit-content;
      }
    }
  }
}
