.search-field {
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-form-field {
      width: 50%;
      margin-right: 24px;
    }

    button {
      height: fit-content;
    }
  }
}

.search-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  margin-top: 40px;
  app-book-preview {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
