:host {
  display: flex;
  flex-direction: row;
  min-height: 100%;

  .left-side {
    width: 45%;
    background-image: url('../../assets/img/login.png');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .right-side {
    width: 55%;
  }
}
