:host {
  display: flex;
  flex-direction: row;
  min-height: 100%;

  .left-side {
    width: 60%;
    align-items: center;
    display: flex;
    img{
      width: 100%;
      height: auto;
    }
  }

  .right-side {
    width: 40%;
  }
}
