@import "src/variables";
@import "src/colors";

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: $margin-regular auto;

  textarea {
    min-height: $textarea-comments-height;
  }
}
