@import "src/colors";
@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $margin-large;
  box-sizing: border-box;

  .list {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .book-container {
      width: fit-content;
      height: fit-content;
      margin-right: $margin-regular;
      display: flex;
      flex-direction: column;
    }

    i {
      font-size: $fs-regular;
      text-align: end;
      margin-right: $margin-half-small;
      color: $primary-color;
    }

    i:hover {
      cursor: pointer;
    }
  }
}

//Media queries for smartphone desktop  and tablet
@media screen and (max-width: 1280px) {
  :host {
    padding: $margin-large $margin-default;
    height: auto;

    .list {
      justify-content: center;

      .book-container {
        margin-bottom: $margin-regular;
      }
    }
  }
}
